$black: #000;
$black-07: rgba(0, 0, 0, 0.7);
$dust-gray: #999;
$dust-gray-02: rgba(153, 153, 153, 0.2);
$green-04: rgba(0, 255, 0, 0.4);
$red-04: rgba(255, 0, 0, 0.4);
$white: #FFF;
$yellow-04: rgba(255, 255, 0, 0.4);