@import '../../../../../scss/colors';

.error-msg {
  color: $red-04;
  display: block;
}

.form-container {
  border-radius: 5px;
  box-shadow: 2px 2px 13px 1px $black-07;
  height: 200px;
  margin: auto;
  max-width: 400px;
  width: 100%;
}

.submit-button {
  align-self: center;
  background: $dust-gray;
  border: 1px solid $dust-gray;
  border-radius: 5px;
  color: $white;
  height: 30px;
  line-height: 30px;
  width: 100px;
}

.form-title {
  align-self: center;
  color: $black;
  font-size: 22px;
  margin-top: 15px;
  padding-bottom: 15px;
}
