@import '../../../../../scss/colors';

.inputContainer {
  margin: auto;
  padding: 10px 0;
  width: 350px;
}

.form-input {
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
}

.input-error {
  color: $red-04;
  height: 15px;
  line-height: 15px;
  padding-left: 5px;
}
